datbase-functionality/src/main/mule/datbase-functionality.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cc2e6f94-4974-4db5-ae8a-11c019f5e2e3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="3984af24-c84d-4c9a-a09d-81e2e86c89bb" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Kolkata@1" database="muletrainingdb" >
			<db:connection-properties >
				<db:connection-property key="useSSL" value="false" />
			</db:connection-properties>
		</db:my-sql-connection>
	</db:config>
	<flow name="datbase-functionalityFlow" doc:id="6e354b94-a413-434e-8643-ace6aa62a7d9" >
		<http:listener doc:name="Listener" doc:id="530361bc-60e6-4d4c-a4c0-595c8ae25362" config-ref="HTTP_Listener_config" path="/db-func"/>
		<db:select doc:name="Select" doc:id="7c8a1ff4-e9ae-4be3-a1e2-8bc3e2b1ba65" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from product where brand_name = :bname]]></db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	bname: attributes.queryParams.brand as String
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="e0d5dc20-5cb8-47da-a3d2-4c66b9b8d0a5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
